/* Google Fonts
font-family: 'Crimson Text', serif;
font-family: 'Montserrat', sans-serif;
*/

@font-face {
    font-family: CrimsonTextRoman;
    src: url("../fonts/CrimsonText-Roman.ttf");
}

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.reset {
    font-size: 0;
    list-style-type: none;
    padding: 0;
}

.clear {
    clear: both;
}

/* Main Code */

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header-section {
    padding: 24px 0px;
}

.header-section .logo-section {
    float: left;
}

.header-section .logo-section a {
    display: block;
}

.header-section .navigation-section {
    float: right;
    margin-top: 10px;
}

.header-section .navigation-section ul li {
    display: inline-block;
    margin: 0px 20px;
}

.header-section .navigation-section ul li a {
    display: block;
    font-size: 13pt;
    color: #707070;
    text-transform: uppercase;
}

.header-section .navigation-section ul li a.active {
    color: #00c7fc;
}

.header-section .navigation-section ul li a:hover {
    color: #00c7fc;
}

.banner-section {
    background: #131316;
    padding: 245px 0px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.banner-section p {
    font-size-adjust: 15pt;
}

.banner-section h1 {
    font-size: 50pt;
    margin: 35px 0px;
    letter-spacing: 2px;
}

.banner-section ul li {
    display: inline-block;
    vertical-align: middle;
}

.banner-section ul li:first-child {
    margin-right: 30px;
}

.banner-section ul li a {
    display: block;
    font-size: 15pt;
    color: #fff;
    border: 2px solid #fff;
    width: 200px;
    padding: 20px 0px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.banner-section ul li a.theme {
    background: #00c7fc;
    border-color: #00c7fc;
}

.our-history {
    padding: 140px 0px;
    text-align: center;
    background: #f4f4f4;
}

.our-history h3 {
    font-size: 25pt;
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.our-history img {
    margin: 0 auto;
}

.our-history .history-content p {
    color: #637988;
    line-height: 25pt;
    font-family: CrimsonTextRoman;
}

.our-history .history-content {
    margin-top: 20px;
}

.our-work {
    font-size: 0;
}

.our-work .col {
    text-align: center;
    display: inline-block;
    width: 16.6%;
    height: 555px;
    position: relative;
}

.our-work .col img {
    width: 100%;
    height: 100%;
}

.our-work .col .inner-content {
    background: #04a3ce;
    color: #fff;
    padding: 55px 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    display: none;
}

.our-work .col:hover .inner-content {
    display: block;
}

.our-work .col:hover,
.our-work .col:hover .inner-content {
    cursor: pointer;
}

.our-work .col .inner-content h3 {
    font-size: 15pt;
    text-transform: uppercase;
}

.our-work .col .inner-content p {
    font-size: 15pt;
    line-height: 25pt;
    margin: 55px 0px;
    font-family: CrimsonTextRoman;
}

.our-work .col .inner-content ul li {
    display: inline-block;
}

.our-work .col .inner-content ul li:first-child {
    margin-right: 40px;
}

.our-work .col .inner-content ul li a {
    display: block;
}

.our-work .col .inner-content ul li a i {
    font-size: 18pt;
    color: #fff;
}

.our-services {
    background: #f4f4f4;
    padding: 145px 0px;
    text-align: center;
}

.our-services ul li {
    width: 30%;
    display: inline-block;
    background: #fff;
    margin-right: 30px;
    padding: 60px 60px 100px 60px;
}

.our-services ul li:last-child {
    margin-right: 0;
}

.our-services ul li .icon-section img {
    display: block;
    margin: 0 auto;
}

.our-services ul li h3 {
    font-size: 15pt;
    color: #231f20;
    margin: 45px 0px;
    text-transform: uppercase;
    position: relative;
}

.our-services ul li h3:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
    border: 2px solid #00c7fc;
    width: 30px;
}

.our-services ul li p {
    font-size: 15px;
    color: #637988;
    line-height: 25px;
    font-family: CrimsonTextRoman;
}

.clients-section {
    padding: 145px 0px;
    text-align: center;
}

.clients-section h3 {
    font-size: 25pt;
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.clients-section img {
    margin: 0 auto;
}

.clients-section p,
.clients-section p span.para {
    font-size: 15pt;
    color: #231f20;
    line-height: 25pt;
    font-family: CrimsonTextRoman;
    margin: 30px 0px 25px 0px;
}

.clients-section span {
    font-size: 15pt;
    color: #999999;
    font-family: 'Crimson Text', serif;
}

.clients-images {
    margin-top: 110px;
}

.clients-images ul {
    display: flex;
    justify-content: space-around;
}

.clients-images ul li img {
    max-width: 100%;
}

.footer-section {
    background: #101012;
    padding: 55px 0px;
}

.footer-section .about-us {
    text-align: center;
    color: #fff;
}

.footer-section .about-us,
.footer-section .contact-us {
    width: 48%;
    border: 1px solid #707070;
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.footer-section .about-us {
    float: left;
}

.footer-section .about-us h3 {
    font-size: 25pt;
    text-transform: uppercase;
    padding-bottom: 45px;
    position: relative;
}

.footer-section .about-us h3:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 2px solid #00c7fc;
    width: 30px;
}

.footer-section .about-us p {
    font-size: 15pt;
    font-family: CrimsonTextRoman;
    line-height: 25pt;
    margin-top: 50px;
}

.footer-section .contact-us {
    float: right;
    color: #fff;
}

.footer-section .contact-us h3 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-section .contact-us ul li label {
    font-size: 15pt;
    text-transform: uppercase;
}

.footer-section .contact-us ul li,
.footer-section .contact-us ul li input,
.footer-section .contact-us ul li textarea {
    width: 100%;
}

.footer-section .contact-us ul li input,
.footer-section .contact-us ul li textarea {
    color: #fff;
}

.footer-section .contact-us ul li textarea {
    resize: none;
}

.footer-section .contact-us ul li input,
.footer-section .contact-us ul li textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid #707070;
    line-height: 30px;
}

.footer-section .contact-us ul li textarea {
    line-height: 15px;
}

.footer-section .contact-us ul li input:focus,
.footer-section .contact-us ul li textarea:focus {
    outline: 0;
    background: none;
}

.footer-section .contact-us ul li.message {
    margin-top: 50px;
}

.footer-section .contact-us ul li.send {
    float: right;
    text-align: right;
    margin-bottom: 95px;
}

.footer-section .contact-us ul li button {
    border: 0;
    background: none;
    font-size: 15pt;
    color: #00c7fc;
    text-transform: uppercase;
    margin-top: 45px;
    cursor: pointer;
    outline: none;
}

.bottom-footer {
    background: #00c7fc;
    padding: 60px 0px;
}

.bottom-footer .copyright {
    float: left;
}

.bottom-footer .copyright p {
    font-size: 15pt;
    color: #fff;
}

.bottom-footer .social-section {
    float: right;
}

.bottom-footer .social-section ul li {
    display: inline-block;
    margin: 0px 20px;
}

.bottom-footer .social-section ul li a {
    display: block;
}

.bottom-footer .social-section ul li a i {
    font-size: 18px;
    color: #fff;
}